@import url("lab_8\null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.header {
    background-color: rgb(77, 249, 255);
}
.header__body {
    text-align: center;
}
.header__title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
.page__body {
    display: flex;
    justify-content: space-between;
}
.page__aside_1 {
    flex: 0 1 25%;
    background: rgb(185, 8, 255);
}
.page__aside_1__body {
    text-align: center;
    padding: 30px;
}
.page__aside_1__text {
    font-size: 24px;
    font-weight: 700;
}
.page__main {
    flex: 0 1 50%;
    background: rgb(0, 167, 14);
}
.page__main__body {
    padding: 30px;
}
.page__main__content {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}
.page__aside_2 {
    flex: 0 1 25%;
    background: rgb(255, 233, 31);
}
.page__aside_2__body {
    text-align: center;
    padding: 30px;
}
.page__aside_2__text {
    font-size: 24px;
    font-weight: 700;
}
.footer {
    background-color: rgb(56, 69, 255);
}
.footer__body {
    text-align: center;
}
.footer__title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
@media(max-width:767.98px) {
    .page__body {
        justify-content: center;
        flex-wrap: wrap;
    }
    .page__main {
        flex: 1 1 100%;
        order: 1;
    }
    .page__aside_2 {
        order: 3;
        flex: 0 1 50%;
    }
    .page__aside_1 {
        order: 2;
        flex: 0 1 50%;
    }
}
@media(max-width:425px) {
    .page__body {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .page__main {
        flex: 1 1 100%;
    }
    .page__aside_2 {
        flex: 1 1 100%;
    }
    .page__aside_1 {
        flex: 1 1 100%;

    }
}
