@import url("lab_8\null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.menu_01__body {
    background-color: rgb(66, 132, 255);
}
.menu_01_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_01_item a {
    transition: all 0.3s ease 0s;
}
.menu_01_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_01_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_02 {
    margin-top: 30px;
}
.menu_02__body {
    background-color: rgb(66, 132, 255);
}
.menu_02_list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.menu_02_item a {
    transition: all 0.3s ease 0s;
}
.menu_02_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_02_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_03 {
    margin-top: 30px;
}
.menu_03__body {
    background-color: rgb(66, 132, 255);
}
.menu_03_list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_03_item a {
    transition: all 0.3s ease 0s;
}
.menu_03_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_03_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_f {
    margin-top: 30px;
}
.menu_f__body {
    background-color: rgb(66, 132, 255);
}
.menu_f_list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.menu_f_item {
    text-align: center;
    flex: 0 1 13%;
    height: 100%;
}
.menu_f_item a {
    transition: all 0.3s ease 0s;
}
.menu_f_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_f_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_04 {
    margin-top: 30px;
}
.menu_04__body {
    background-color: rgb(66, 132, 255);
}
.menu_04_list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_04_item {
    text-align: center;
    flex: 0 1 13%;
}
.menu_04_item a {
    transition: all 0.3s ease 0s;
}
.menu_04_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_04_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_05 {
    margin-top: 30px;
}
.menu_05__body {
    background-color: rgb(66, 132, 255);
}
.menu_05_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu_05_item {
    text-align: center;
    flex: 0 1 13%;
}
.menu_05_item a {
    transition: all 0.3s ease 0s;
}
.menu_05_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_05_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_06 {
    margin-top: 30px;
}
.menu_06__body {
    background-color: rgb(66, 132, 255);
}
.menu_06_list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.menu_06_item {
    text-align: center;
    flex: 0 1 13%;
}
.menu_06_item a {
    transition: all 0.3s ease 0s;
}
.menu_06_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_06_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_07 {
    margin-top: 30px;
}
.menu_07__body {
    background-color: rgb(66, 132, 255);
}
.menu_07_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_07_list_top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_07_list_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_07_item a {
    transition: all 0.3s ease 0s;
}
.menu_07_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_07_item a{
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}
/* ----------------------------------------- */
.menu_08 {
    margin-top: 30px;
}
.menu_08__body {
    background-color: rgb(66, 132, 255);
}
.menu_08_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu_08_item {
    width: 100%;
}
.menu_08_item a {
    transition: all 0.3s ease 0s;
}
.menu_08_item a:hover {
    background-color: #fff;
    color: rgb(66, 132, 255);;
}
.menu_08_item a{
    width: 100%;
    font-size: 24px;
    display: inline-block;
    padding: 24px;
    color: #fff;
}