@import url("lab_8\null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.flex-container {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}
.flex-item {
    margin-bottom: 15px;
    padding: 30px 70px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    background-color: rgba(255, 59, 25, 0.856);
}