@import url("lab_8\null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.header__body {
    background-color: rgb(47, 207, 255);
}
.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.menu__item {
    text-align: center;
    flex: 0 1 100px;
}
.menu__item a {
    display: inline-block;
    padding: 20px 30px;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.menu__item a:hover {
    color: rgb(47, 207, 255);
    background-color: #fff;
}
