@import url("lab_8\null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.header {
    background-color: rgb(77, 249, 255);
}
.header__body {
    text-align: center;
}
.header__title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
.page__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.page__aside_1 {
    flex: 1 1 25%;
    background: rgb(185, 8, 255);
}
.page__aside_1__body {
    text-align: center;
    padding: 50px;
}
.page__aside_1__text {
    font-size: 24px;
    font-weight: 700;
}
.page__main {
    flex: 1 0 50%;
    background: rgb(0, 167, 14);
}
.page__main__body {
    padding: 50px;
}
.page__main__content {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}
.page__aside_2 {
    flex: 1 0 25%;
    background: rgb(255, 233, 31);
}
.page__aside_2__body {
    text-align: center;
    padding: 50px;
}
.page__aside_2__text {
    font-size: 24px;
    font-weight: 700;
}
.footer {
    background-color: rgb(56, 69, 255);
}
.footer__body {
    text-align: center;
}
.footer__title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
